COMPOSE_PROJECT_NAME=proyecto-muebles-lab

POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambiar_contrasena
POSTGRES_DEFAULT_DATABASE=postgres
POSTGRES_EXTERNAL_PORT=5433

AUTH_DATABASE=auth_db
CATALOG_DATABASE=catalog_db
CART_DATABASE=cart_db
ORDER_DATABASE=order_db
PAYMENT_DATABASE=payment_db
INVENTORY_DATABASE=inventory_db

AUTH_PORT=8181
CATALOG_PORT=8182
CART_PORT=8183
ORDER_PORT=8184
PAYMENT_PORT=8185
INVENTORY_PORT=8186

GATEWAY_PORT=9190
FRONTEND_PORT=3100
