# ==========================================
# Node.js
# ==========================================
node_modules/
dist/
coverage/
*.log

# ==========================================
# Variables de entorno
# ==========================================
.env
.env.lab

# ==========================================
# Visual Studio Code
# ==========================================
.vscode/
.idea/

# ==========================================
# .NET
# ==========================================
**/bin/
**/obj/

# ==========================================
# Bases SQLite
# ==========================================
*.db
*.db-shm
*.db-wal

# ==========================================
# Respaldos
# ==========================================
backups/*.sql
# Docker
.docker/
